.table-comp-ske {
  margin-top: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  line-height: 2rem;
}
.table-comp-ske th {
  width: 30%;
  border: 1px solid #f4f9ff;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;
}
